@import"abstract/variables";
@import"abstract/functions";
@import"abstract/mixins";

@import"base/base";
@import"base/animations";
@import"base/typography";
@import"base/utilities";
@import"base/typography";


@import"components/button";
@import"components/compositions";
@import"components/foldingcube";

@import"layout/header";
@import"layout/grid";

@import"pages/home";





@media only screen and (max-width: 400px) {
    body{
      padding: 0rem;
    }
    .header{
      height: 48vh;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 34vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 34vh, 0 100%);
  
    }
  
    .header__text-box {
      position: absolute;
      top: 46%;
    }
  
    .heading-primary--main {
      font-size: 3rem;
      letter-spacing: 1.2rem;
      margin-bottom: 3rem;
    }
  
    .heading-primary--sub {
      font-size: 1.5rem;
      letter-spacing: 0.5rem;
    }
  
    .header__logo-box {
      position: absolute;
      top: 1rem;
      left: 1rem;
    }
  
    @keyframes throb {
  0% {
      height: 1.4rem;
  }
  50% {
      height: 3.4rem;
  }
  100% {
      height: 1.4rem;
  }
    }
  
    @keyframes colorChange{
      0% {
        height: 1.4rem;
    }
    
    25% {
        background-color: hotpink;
    }
    50% {
        height: 3.4rem;
        background-color: red;
    }
    75% {
        background-color: hotpink;
    }
    100% {
        height: 1.4rem;
        background-color: white;
    }
    }
  
    .heading-secondary {
      font-size: 4.5rem;
      bottom: 59px;
      position: relative;
  }
  }



































