//COLORS

$color-primary: #55c57a;
$color-primary-light: #3BC3D5;
$color-primary-dark: #0F1CB4;
$color-primary-black: #000000;
$color-gray-dark: #777;
$color-ghostWhite: ghostwhite;
$color-primary-white: white;
$logo-hotpink: hotpink;
$logo-red: red;
$logo-white: white;
$color-sales-green: lawngreen;
$color-frontend-yellow: yellow;
$color-backend-tomato: tomato;

//grid

$grid-width: 114rem;
$margin-vertical: 8rem;
$margin-horizontal: 6rem;