body,
html{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /*overflow: hidden;*/
  background-size: contain;

}

#root {
  width: 100%;
  height: 100%;
}

.App {
  left: 30vw;
  position: relative;
  bottom: 47vw;
  width: 78vw;
  height: 100%;
}



.stagger-visualizer.change {
    background-image: url("https://image.shutterstock.com/image-vector/kd-initial-monogram-logo-260nw-342895061.jpg");
    background-size: cover;
}

.stagger-visualizer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 17rem;
  position: relative;
  top: -125vw;
  left: 52vw;
}

.stagger-visualizer div {
  width: 1rem;
  height: 1rem;
  border: 1px solid #FFF;
  background-color: white;
}

#div-106{
  background-image: url("http://i1320.photobucket.com/albums/u527/kdunl2/edited-image_zpsego0lhqx.jpg");
  background-size: contain;
}

#div-89{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/two_zpsnijpdrtv.png");
  background-size: contain;
}

#div-90{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/three_zpsb8pvbjqs.png");
  background-size: contain;
}

#div-74{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/four_zps9u0v61pn.png");
  background-size: contain;
}

#div-91{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/five_zpso1pmvvni.png");
  background-size: contain;
}

#div-108{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/six_zps2qtxrp4i.png");
  background-size: contain;
}

#div-124{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/10-1_zpsquwlhbga.png");
  background-size: contain;
}

#div-141{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/11_zps00yp7kda.png");
  background-size: contain;
}

#div-158{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/12_zpsdrwfacp8.png");
  background-size: contain;
}

#div-157{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/13-L_zpsaaq1uy1b.png");
  background-size: contain;
}

#div-125{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/14_zpscalhzkhr.png");
  background-size: contain;
}

#div-142{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/15_zpsvjbxdygp.png");
  background-size: contain;
}

#div-159{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/16_zpsgdnm9l3y.png");
  background-size: contain;
}

#div-176{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/17_zpsva7fj9oo.png");
  background-size: contain;
}

#div-75{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/18_zpseo9iqcrz.png");
  background-size: contain;
}

#div-92{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/19_zpsx7gcojop.png");
  background-size: contain;
}

#div-109{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/20_zpsdpqfudrp.png");
  background-size: contain;
}


#div-126{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/21_zpsch3q5qtx.png");
  background-size: contain;
}

#div-143{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/22_zpsemqwe3ai.png");
  background-size: contain;
}

#div-160{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/23_zpsqnjpl2h3.png");
  background-size: contain;
}

#div-177{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/24_zpsgx3amgsu.png");
  background-size: contain;
}

#div-194{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/25_zpsxalq41uh.png");
  background-size: contain;
}

#div-211{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/26_zpsujy6sxp8.png");
  background-size: contain;
}


#div-76{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/30_zpsly8xvcme.png");
  background-size: contain;
}

#div-93{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/31_zpsvstimugb.png");
  background-size: contain;
}

#div-110{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/32_zps4zshmpyp.png");
  background-size: contain;
}

#div-127{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/33_zps9x6yvgg3.png");
  background-size: contain;
}

#div-144{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/34_zpshqdd6e8w.png");
  background-size: contain;
}

#div-161{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/35_zps1muyfymb.png");
  background-size: contain;
}

#div-178{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/36_zpsr6lwdhan.png");
  background-size: contain;
}

#div-195{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/37_zpslo8ivecn.png");
  background-size: contain;
}

#div-212{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/38_zpszvoamowk.png");
  background-size: contain;
}

#div-78{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/50_zpshkuei69g.png");
  background-size: contain;
}

#div-129{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/51_zpsd5fowbgs.png");
  background-size: contain;
}

#div-180{
  background-image: url("hhttps://i1320.photobucket.com/albums/u527/kdunl2/52_zpspsfk3gow.png");
  background-size: contain;
}

#div-197{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/54_zpsndbywej7.png");
  background-size: contain;
}

#div-214{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/55_zpsk4c18g2p.png");
  background-size: contain;
}

#div-130{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/60_zps5smgrmki.png");
  background-size: contain;
}

#div-147{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/61_zpsse2rapx0.png");
  background-size: contain;
}

#div-164{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/62_zpsmpjolcqv.png");
  background-size: contain;
}

#div-181{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/63_zpsebayicip.png");
  background-size: contain;
}

#div-198{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/64_zpstslhahuk.png");
  background-size: contain;
}

#div-131{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/70_zpspgykzkit.png");
  background-size: contain;
}

#div-148{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/71_zpsbkr9lajl.png");
  background-size: contain;
}

#div-165{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/72_zps5nrkcpdr.png");
  background-size: contain;
}

#div-182{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/73_zpsa1eltlp2.png");
  background-size: contain;
}


#div-77{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/40_zpsb2lnlvtd.png");
  background-size: contain;
}

#div-94{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/41_zpst6quh4ns.png");
  background-size: contain;
}


#div-128{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/42_zpsbutq3fc2.png");
  background-size: contain;
}

#div-145{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/43_zpsss01nhe5.png");
  background-size: contain;
}

#div-162{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/44_zpsgi1ci5g5.png");
  background-size: contain;
}

#div-179{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/45_zpsyvfrssct.png");
  background-size: contain;
}

#div-196{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/46_zpsuhcw0ndb.png");
  background-size: contain;
}

#div-213{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/47_zpskq9aelgp.png");
  background-size: contain;
}

#div-180{
  background-image: url("https://i1320.photobucket.com/albums/u527/kdunl2/52_zpspsfk3gow.png");
  background-size: contain;
}


/*  Glitch */
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 0%;
  }
}

.fourth-text{
  display: none
}
.show {
  display:block;
  font-size: 3.4rem;
  position: absolute;
  top: 10.5rem;
  left: 40%;
  opacity: 0;
  color: black;
  animation-name: fadeInOut;
  animation-delay: 13.5s;
  animation-duration: 9s;
}

.transition {
    position:absolute;
    height:100%;
    width:30%;
    background: paleturquoise;
    transform: skewX(-5deg) translateX(-50px);
    transition:2s all ease-in-out;
    -webkit-transition:2s all ease-in-out;
    left: -1vw;
    bottom: 0vw;
    box-shadow: 4px 17px 12px 13px rgba(109, 106, 106, 0.945);
  }

  .content {
    position:relative;
    padding:200px 0 0 200px;
    color:#000;
    z-index:10;
    height:300px;
  }

  .cta {
    outline:none;
    border:none;
    text-decoration:none;
    text-transform:uppercase;
    background:#202020;
    color:#eaeaea;
    box-sizing:border-box;
    margin-top:20px;
    padding:10px 40px;
  }

  .two {

    background:#db5b05;

  }

  .three {

    background:#0609df;

  }

  .four {
      background:mediumvioletred;

  }

  .five {
    background: greenyellow;
  }

  .anim-trans {
    animation: anim 4s ease-in-out;
    }

  @keyframes anim{
       0% { }
       20%  { z-index:11;\transform: skewX(3deg) translateX(-100%); }
       40%   { transform: skewX(0deg) translateX(0);
   width:100%; z-index:11; box-shadow: 10px 10px 5px #eaeaea;}
       60%   { transform: skewX(3deg) translateX(0);
   width:100%;z-index:11; box-shadow: 10px 10px 5px #eaeaea;}
       80%   { transform: skewX(1deg) translateX(100%);
   width:60%;z-index:11; box-shadow: 10px 10px 5px #eaeaea;}
       100%   { transform: skewX(-3deg) translateX(5px);
   width:30%;z-index:1; box-shadow: none;}
  }

  .change {
      background-color: purple;
  }

.effect2:before, .effect2:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.link-text{
    font-size: 2.2vw;
    font-family: Futura;
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245,245,245,0.5) 3px 3px 2px;
}

.allLinks{
    position: relative;
    left: 6vw;
    transform: skewX(9deg);
    /* top: 17vh; */
}

.links{
    margin-bottom: 3vw;
}

.logoContainer {
    text-align: center;
}

.logo {
    width: 32%;
}

.gitRoll{

    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    position: relative;
    left: 56vw;
    background-color: blueviolet;
    animation: rotation 5s  infinite linear;
    box-shadow: inset -25px -25px 40px rgba(0,0,0,.5);
    background-image: -webkit-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);

}

.stage {
    width: 3vw;
    height: 3vw;
    display: inline-block;
    margin: 1.8vw;
    perspective: 1200px;
    perspective-origin: 50% 50%;
    position: relative;
    bottom: 1.8vw;
  }

  .stage2{
    width: 3vw;
  }

  .stage3 {
    left: 2vw;
    position: relative;
  }

  .stage4{
    left: 4vw;
    position: relative;
  }

 .ball .shadow {
   position: absolute;
   width: 100%;
   height: 100%;
   background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
   transform: rotateX(105deg) translateZ(-12.5vw);
   z-index: 4;
   top: -10.3vw;
   left: 0.2vw;
  }

  .ball .shadow2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    transform: rotateX(112deg) translateZ(-11.8vw);
    z-index: 4;
    top: -9vw;
    left: .23vw;
  }

  .ball .shadow3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    transform: rotateX(108deg) translateZ(-12.5vw);
    z-index: 4;
    top: -10vw;
    left: .2vw;

  }

  .ball .shadow3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    transform: rotateX(108deg) translateZ(-12.5vw);
    z-index: 4;
    top: -10vw;
    left: .2vw;

  }

.go{
    left: -4vw;
    transition: 5s all;
}

.bounce{
  animation: rotation 3s  linear;
}


.git{
    width: 2.4vw;
    left: -.7vw;
    top: -.8vw;
    padding: .3vw;

}

.linkedin{
    width: 3.5vw;
    left: 0.vw;
    top: -.5vw;
    padding: -1\vw;
    position: relative;
    left: -.1vw;
}

.linkRoll{
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    position: relative;
    background-color: cornsilk;
    box-shadow: inset -25px -25px 40px rgba(0,0,0,.5);
    background-image: -webkit-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
    bottom: 52vw;
    animation: bounce .8s cubic-bezier(.5,0.05,1,.5);
    animation-direction: alternate;
    animation-iteration-count: 5;
}

.linkShow {
    bottom: 0vw;
}

@keyframes rotation {
    from {
            transform: rotate(0deg);
    }
    to {
            transform: rotate(-2500deg);
    }
}

@keyframes rotation2 {
    from {
            transform: rotate(0deg);
    }
    to {
            transform: rotate(-300deg);
    }

}

.rollBox {
  position: relative;
  left: 22vw;
  width: 40vw;
  height: 3vw;
  top: 27vw;
  display: flex;

}


@keyframes bounce {
    from { transform: translate3d(0, 0, 0);     }
    to   { transform: translate3d(0, 700px, 0); }

  }

.medium{
    width: 3.5vw;
    left: 0.vw;
    top: 0.5vw;
    padding: -1\vw;
    position: relative;
    left: -.3vw;

}

.medRoll{
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    position: relative;
    background-color: yellow;
    box-shadow: inset -25px -25px 40px rgba(0,0,0,.5);
    background-image: -webkit-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
  	animation: jump 1s;
    animation-iteration-count: 6;
    transform: scale(0);
}

.medStay{
    top: 11.5vw;
    height: 3vw;
    animation: none;
}

@keyframes jump {
	0% {
		top: 5vw;
	}
	50% {
		top: 140px;
    height: 3vw;
	}
	55% {
		top: 160px;
		height: 1vw;
		border-radius: 70px / 60px;
	}
	65% {
		top: 120px;
		height: 3vw;
		border-radius: 70px;
	}
	95% {
		top: 5vw;
	}
	100% {
		top: 5vw;
	}
}

.medIn{
  position: relative;
  top: -11.6vw;
}

.go2{
  transform: scale(1);
  transition: all 5s linear 0s;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.resume{
  width: 2vw;
  left: 0.vw;
  top: 1vw;
  padding: -1\vw;
  position: relative;
  left: .4vw;
  font-size: .7em;
}

.resumeRoll{
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    position: relative;
    background-color: rgb(29, 120, 136);
    box-shadow: inset -25px -25px 40px rgba(0,0,0,.5);
    background-image: -webkit-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
    top: 18vw;
}

.moveDown {
  animation: bounce2 1s linear 0s 2 alternate;
}

.stpMoveUp{
  top: -.7vw;
}

@keyframes bounce2 {
  from { left: 0; } to { top: -10.7vw; }
}

.heart{
    width: 2vw;
    left: 0.vw;
    top: 1vw;
    padding: -1\vw;
    position: relative;
    left: .4vw;
    font-size: .7em;
}

.heartRoll{
  border-radius: 50%;
  width: 3vw;
  height: 3vw;
  position: relative;
  background-color: rgb(29, 120, 136);
  box-shadow: inset -25px -25px 40px rgba(0,0,0,.5);
  background-image: -webkit-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
  animation: updown 1s 0.6s ease-in infinite alternate,
  leftright 3s 0.5s linear infinite alternate;
}

@keyframes updown {
    0% {transform: scale(1,1) translateY(-42vw);}
   89% {transform: scale(0.97,1.03) translateY(-200px);}
  100% {transform: scale(1.1, 0.9) translateY(1vw);}
}
@keyframes leftright {
    0% {left: -34vw;}
  100% {left: 507px;}
}

.fix {
  top: -0vw;
  right: 13.6vw;
  animation: none;
}

.whoI {
  font-family: mySecondFont;
  font-size: 7vw;
  color: ivory;
  position: relative;
  left: 3vw;
  top: 0vw;
}

.iColor{
  color: ivory;
}
















/* CHANGE STYLE SHEET */




.nextPage{
  background: yellow;
  height: 60vw;
  position: relative;
  right: 100vw;
  top: -14vw;
}

.rotateT{
  animation: anim2 6s ease-in-out;
}


@keyframes anim2{
    0%{transform:rotate(0deg)}
  100%{transform:rotate(1080deg) translateX(100vw);}
}

.moveInP{
    animation: moveP 6s ease-in;
}

@keyframes moveP{
    0%{}
      25%{transform: translateX(12vw)}
      50%{transform: translateX(70vw)}
      75%{transform: translateX(750vw)}
  100%{transform: translateX(100vw);}
}

.psychStuff{
  background: yellow;
  height: 100%
}

.appContain, .myContainer{
  height: 100%
}

.redWipe{
  width: 100%;
  height: 66vw;
  background: red;
  position: relative;
  top: -21vw;
  left: -60vw;
  transform: skewX(14deg);
  z-index: -11;
}

.redGo{
  animation: redAnim 1s ease-in;
}

.redStop{
  transform: translateX(80vw)  translateY(-52vw);
}

.redOff{
  display: none;
  background: transparent;
}

@keyframes redAnim {
  0%{}
 90%{transform: translateX(80vw)  translateY(-52vw);}
100%{transform: translateX(80vw)  translateY(-52vw);}
}



/* next page*/

.looseleaf{
  width: 47vw;
  position: absolute;
  right: 14vw;
  height: 53vw

}

.psychStuff{
  position: relative;
  text-align: center;
  background: red;
  width: 70vw;
  left: 19vw;
  top: -48vw;
}

.psychTitle{
  position: relative;
  font-family: "MyPsychFont";
  left: 27vw;
    font-size: 1.5vw;
    top: 4vw;
    text-align: left;
    /* line-height: 2.3vw; */

}

.psychText{
  position: relative;
  font-family: "MyPsychFont";
  width: 33.2vw;
  left: 16vw;
  font-size: 1.3vw;
  top: 2.6vw;
  text-align: left;
  line-height: 2.2vw;
}

.psychText2{
  position: relative;
  font-family: "MyPsychFont";
  width: 33.2vw;
  left: 16vw;
  font-size: 1.3vw;
  top: 1vw;
  text-align: left;
  line-height: 2.2vw;
}

.psychText3{
  position: relative;
  font-family: "MyPsychFont";
  width: 33.2vw;
  left: 16vw;
  font-size: 1.3vw;
  top: -.5vw;
  text-align: left;
  line-height: 2.2vw;
}

.psychText4{
  position: relative;
  font-family: "MyPsychFont";
  width: 33.2vw;
  left: 16vw;
  font-size: 1.3vw;
  top: -2vw;
  text-align: left;
  line-height: 2.1vw;
}

.psychText5{
  position: relative;
  font-family: "MyPsychFont";
  width: 33.2vw;
  left: 16vw;
  font-size: 1.3vw;
  top: -3.5vw;
  text-align: left;
  line-height: 2vw;
}

.Bulletin{
  z-index: -1;
  position: relative;
  left: 11vw;
  top: 5vw;
}

.looseleafSmall{
  width: 13vw;
    position: absolute;
    right: 14vw;
    height: 17vw;
}

.psychPage h3, .psychPage h1 {
  
}