@media only screen and (min-width: 950px) {
  .quote-text{
    font-size: 1.7vw;


  }

  .quote-author{
    bottom: 9vw;
    font-size: 1.9vw;
    left: 10vw;
  }

.quote-text::before {
  top: .9vw;
  left: 19.7vw;
}

.quote-text::after {

  top: 5vw;
  right: 19.8vw;
  }

.quote::before {

    left: 0;
}

.quote::after {
  top: 14vw;
}

  .myName{
    padding-top: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 12vw;
    position: relative;
    bottom: 13vw;
    left: 0vw;
    width: 100%;
    height: 45%;
  }

  .bottomContainer{
    position: relative;
    top: 14vw;
    right: 13vw;
  }

  .BigContainer{
    position: absolute;
    top: 0vw;
    left: 0vw;
    height: 103%;
    width: 100%;
    background-color: #282c34;
  }



  .tableContainer{
    text-align: -webkit-center;

  }

  table{
    right: 8vw;
    position: relative;
    bottom: 4vw
  }

  .lang{
    font-size: 2.3em
  }

  .langName{
    font-size: 2em

  }

  .circle{
    height: 13vw;
    width: 14vw
  }
  .aboutCircle.flatiro {
    font-size: 2.5em;
}
.aboutCircle{
  font-size: 3em;

}
.circle.opened{
  height: 44vw;
  /* height: auto; */
  max-height: 48vw;
/* width: 85vw; */
border-radius: 11vw;
transition: ease-in .4s;
overflow: scroll;
border-style: inset;
background: silver;
border-color: dimgray;
border-width: 3vw;
position: relative;
right: 3.6vw;

}

.circle.opened2{
  width: 85vw;
  transition: ease-in .5s;


}
.gif {
    width: 88vw;
}

.projectLabel{
  font-size: 3.3em;

}

.projectName{
  font-size: 1.7em;

}

.descLabel{
  font-size: 2em;
  position: relative;
top: 2vw;

}

.arrow{
  position: relative;
top: 0.5vw;
}

.marvel, .descText, .robot, .dreamDesc, .aboutMe{
  font-family: 'MyFont';
text-align: -webkit-center;
margin-bottom: 1vw;
font-size: 1.5em;

}

.techStack{
  font-size: 3.4em;

}

.stack{
  position: relative;
bottom: 3vw;
}

.about{
  font-size: 2em;

}
}
